@CHARSET "UTF-8";
/*--------------------------------------------------
 * 房产首页-新图片滚动-房屋信息搜索部分
 --------------------------------------------------*/
.huigenghao_house_photo_auto {
	width: 100%;
	height: 400px;
	margin: 5px 0 0 0 !important;
	position: relative;
}

.house_photo_auto_postimglist {
	width: 100%;
	height: 400px;
	vertical-align: middle;
	overflow: hidden;
	width: 0 auto;
	position: absolute;
}

.house_photo_auto_mainlist img {
	height: 400px;
	width: 1430px;
	float: left;
	position: absolute;
}

/*------ 搜索部分 ------*/
.house_search_auto_main {
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}

.search_auto_main_start {
	width: 350px;
	height: 400px;
	position: absolute;
	left: 0;
	background: url("../../../uimages/default/skin/soso_bg.png") repeat;
	z-index: 2;
}

.search_auto_main_inner_bg {
	width: 350px;
	height: 400px;
	position: absolute;
	left: 0;
	background: black repeat;
	filter: alpha(opacity=30);
	-moz-opacity: 0.3;
	opacity: 0.3;
	z-index: 1;
}

.auto_main_start_head {
	color: #F60;
	font-weight: bold;
	font-size: 16px;
	padding: 35px 0 10px 25px !important;
	width: 350px;
}

.auto_main_start_ul li {
	margin: 0 0 15px 0 !important;
}

.main_start_ul_one {
	width: 300px !important;
	height: 40px !important;
	background: white;
	margin: 0 0 0 25px !important;
}

.start_ul_one_inp {
	height: 28px;
	line-height: 28px;
	border: 1px solid white;
	padding-left: 5px;
	width: 280px;
	font-family: "Microsoft Yahei","微软雅黑";
	margin: 6px 0 0 0 !important;
}

.start_ul_one_submit {
	width: 300px !important;
	height: 46px !important;
	background: url("../../../../houseui/uimages/default/skin/btn_default.png") no-repeat 0px -1015px;
	display: inline-block;
}

.start_ul_one_submit:hover {
	width: 300px !important;
	height: 46px !important;
	background: url("../../../../houseui/uimages/default/skin/btn_default.png") no-repeat 0px -969px;
	display: inline-block;
}




/*---old---*/
.house_search_main {
	width: 400px;
	height: 360px;
	top: 15px;
	position: absolute;
	border: 5px solid #F60;
	background: white;
	/*filter: alpha(opacity=50);
	opacity: 0.5;*/
}

.main_head_ul {
	width: 100% !important;
	height: 45px !important;
	background: #EFEFEF;
}

.main_head_ul li {
	float: left;
	width: 80px !important;
	height: 100%;
	text-align: center;
	line-height: 45px;
	border-right: 1px solid white;
	cursor: pointer;
	font-size: 14px;
	color: #333;
}

.main_head_ul li.head_ul_bder {
	background: white;
	color: #F60;
	font-weight: bold;
}

.main_head_search {
	width: 370px !important;
	margin: 30px 0 0 15px !important;
	float: left;
	padding: 0 0 10px 0 !important;
}

.borb1 {
	background: url("../../../uimages/default/skin/line_01.gif") repeat-x 0 bottom;
}

.head_search_a {
	margin: 0 10px 0 0px !important; 
	color: #333;
	font-size: 14px;
	line-height: 28px;
	float: left;
}

.head_search_one {
	width: 300px !important;
}

.search_main_is_inp {
	height: 28px;
	line-height: 28px;
	color: #999;
	border: 1px solid #999;
	padding-left: 5px;
	width: 280px;
	font-family: "Microsoft Yahei","微软雅黑";
}

.search_main_ibtn_a {
	width: 150px !important;
	height: 40px !important;
	background: url("../../../../houseui/uimages/default/skin/btn_default_2.png") no-repeat -40px -360px;
	line-height: 40px;
	font-size: 16px;
	margin: 15px 0 8px 0px !important;
	text-align: center;
	color: white;
	display: inline-block;
}

.search_main_ibtn_a:hover {
	text-decoration: none;
}

.head_search_area_list {
	width: 100% !important;
	float: left;
	padding: 20px 0 10px;
}

.head_search_area_list dt {
	float: left;
	margin: 0 0 0 13px !important;
	width: 60px !important;
	color: #F60;
	font-size: 14px;
}

.head_search_area_list dd {
	float: left;
	text-align: left;
	width: 300px !important;
	margin: 0 0 0 10px !important;
}

.head_search_area_list dd a {
	color: #666;
	margin: 0 10px 12px 0;
}





/*------ 图片滚动图标部分 ------*/
.house_photo_auto_iconlist {
	position: absolute;
	bottom: 15px;
	height: 20px;
	right: 0px;
}

.photo_auto_iconlist_ul li.main_photo_text_one {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 0 0 10px !important;
	border-radius: 2px !important;
	text-align: center;
	line-height: 20px;
	background-color: #000;
	filter: alpha(opacity=50);
	opacity: 0.5;
	color: white;
	cursor: pointer;
}

.photo_auto_iconlist_ul li.main_photo_text_one_select {
	float: left;
	width: 20px;
	height: 20px;
	margin: 0 0 0 10px !important;
	border-radius: 2px !important;
	text-align: center;
	line-height: 20px;
	color: white;
	cursor: pointer;
	text-align: center;
	background-color: rgb(208, 56, 0);
	filter: alpha(opacity=90);
	opacity: 0.9;
}





/*--------------------------------------------------
 * 房产首页-新房/新楼盘区域
 --------------------------------------------------*/
.huigenghao_house_shouye_xinfang {
	width: 1000px !important;
	height: 45px !important;
	border-bottom: 2px solid #ff4e00;
	margin: 0 auto !important;
	overflow: hidden;
}

.house_shouye_xinfang_head_text {
	float: left;
	display: inline;
	font-size: 16px;
	margin: 15px 0 0 0 !important;
	color: #ff4e00;
	font-weight: bold;
}

.house_shouye_xinfang_head_right {
	float: right;
	margin: 0px;
}

.shouye_xinfang_head_right_a {
	float: left;
	margin: 0px;
}

.shouye_xinfang_head_right_a li {
	float: left;
	margin: 18px 0 0 0 !important;
}

.shouye_xinfang_head_right_a li a {
	color: #666;
    margin: 0px 12px;
}

.shouye_xinfang_head_right_a li a:hover {
	color: #ff4e00;
}

.shouye_xinfang_head_right_a li span {
	color: #666;
}

.shouye_xinfang_head_right_all a {
	margin: 0px 0 0 12px !important;
}

.shouye_xinfang_head_right_all a:hover {
	text-decoration: none;
}

.shouye_xinfang_head_right_all_icon {
	background: url("../../../../houseui/uimages/default/skin/color_default.png") repeat-x  0px -6px;
	width: 3px;
	height: 5px;
	display: inline-block;
	overflow: hidden;
	margin: -11px 0 0 8px !important;
	cursor: pointer;
}

.huigenghao_house_shouye_xinfang_main {
	width: 100%;
	height: 366px;
	margin: 15px 0 0 0 !important;
	border-bottom: 1px dashed #d0d0d0;
}

.house_shouye_xinfang_main_list {
	width: 242px;
	height: 350px;
	border: 1px solid #e9e9e9;
	float: left;
	margin: 0 0 0 8px !important;
	overflow: hidden;
	display: inline;
}

.shouye_xinfang_main_list_imgdiv {
	width: 220px;
	height: 200px;
	margin: 10px 10px 0 10px !important;
	overflow: hidden;
}

.shouye_xinfang_main_list_imgdiv img {
	width: 220px;
	height: 200px;
}

.shouye_xinfang_main_list_subject {
	font-size: 14px;
	width: 222px;
	text-align: left;
	margin: 6px 0 0 10px !important;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.shouye_xinfang_main_list_subject a {
	color: #006ccb;
}

.shouye_xinfang_main_list_price {
	width: 222px;
	margin: 0 0 0 10px !important;
}

.xinfang_main_list_price_left {
	color: #ff4e00;
}

.xinfang_main_list_price_left i {
    font-size: 18px;
}

.xinfang_main_list_price_left em {
    font-size: 24px;
}

.shouye_xinfang_main_list_bottom {
	width: 100%;
	height: 72px;
	border-top: 1px solid #e9e9e9;
}

.shouye_xinfang_main_list_address {
	width: 222px;
	margin: 5px 0 0px 10px !important;
}




/*--------------------------------------------------
 * 房产首页-二手房区域
 --------------------------------------------------*/
.huigenghao_house_shouye_ershoufang {
	width: 100%;
	height: 198px;
	margin: 15px 0 0 0 !important;
	border-bottom: 1px dashed #d0d0d0;
}

.house_shouye_ershoufang_list {
	width: 493px;
	height: 180px;
	border: 1px solid #e9e9e9;
	float: left;
	margin: 0 0 0 10px !important;
	overflow: hidden;
	display: inline;
}

.shouye_ershoufang_list_divimg {
	width: 220px;
	height: 160px;
	margin: 10px 10px 0 10px !important;
	float: left;
	overflow: hidden;
	display: inline;
}

.shouye_ershoufang_list_divimg img {
	width: 220px;
	height: 160px;
}

.shouye_ershoufang_list_right {
	width: 251px;
	height: 180px;
	border-left: 1px solid #e9e9e9;
	float: right;
}

.ershoufang_list_right_head {
	font-size: 15px;
	width: 235px;
	text-align: left;
	margin: 10px 0 0 10px !important;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}

.ershoufang_list_right_head a {
	color: #006ccb;
}

.ershoufang_list_right_price {
	width: 248px;
	float: left;
	margin: 0 0 10px 0 !important;
	height: 52px;
}

.list_right_price_act_bg {
	width: 70px;
	height: 52px;
	background: url("../../../../houseui/uimages/default/skin/color_default.png") repeat-x  0px -218px;
	overflow: hidden;
	margin: 0px 0 0px 10px !important;
	float: left;
	display: inline;
}

.right_price_act_bg_tt {
	color: white;
	font-size: 14px;
	line-height: 52px;
	text-align: center;
}

.right_price_text_info {
	float: left;
	line-height: 50px;
	margin-left: 10px !important;
}

.right_price_text_info em {
    font-size: 16px;
    color: #ff4e00;
}

.ershoufang_list_right_content {
	width: 240px;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	margin: 0 0 0 10px !important;
}




/*--------------------------------------------------
 * 房产首页-租房区域
 --------------------------------------------------*/
.huigenghao_house_zufang {
	width: 716px;
	height: 310px;
	float: left;
	overflow: hidden;
	display: inline;
	margin: 5px 0 0 0 !important;
}

.huigenghao_house_zufang_main {
	width: 716px !important;
	height: 45px !important;
	border-bottom: 2px solid #ff4e00;
	margin: 0 auto !important;
	overflow: hidden;
}

.huigenghao_house_zufang_list {
	width: 350px !important;
	height: 255px !important;
	float: left;
	margin: 12px 0 0 0 !important;
	color: #006ccb;
}

.huigenghao_house_zufang_list_line {
	float: left;
	width: 7px !important;
	height: 255px !important;
	border-right: 1px dashed #d0d0d0;
	margin: 12px 8px 0 0 !important;
}

.house_zufang_list_zfname {
	width: 110px;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
}



/*--------------------------------------------------
 * 房产首页-房产百科区域
 --------------------------------------------------*/
.huigenghao_house_fangchanbaike {
	width: 270px;
	height: 300px;
	border: 1px solid #e9e9e9;
	float: right;
	overflow: hidden;
	display: inline;
	margin: 15px 0 0 0 !important;
}

.house_fangchanbaike_head {
	width: 250px !important;
	height: 35px !important;
	border-bottom: 1px dashed #d0d0d0;
	margin: 0 0 0 10px !important;
}

.fangchanbaike_head_left {
	float: left;
	line-height: 35px;
	font-size: 14px;
	color: #ff4e00;
}

.fangchanbaike_head_right {
	float: right;
	width: 30px;
}

.fangchanbaike_head_right_a {
	float: left;
	line-height: 35px;
}

.fangchanbaike_head_right_a a {
	color: #666;
}

.fangchanbaike_head_right_icon {
	width: 3px !important;
	height: 5px !important;
	background: url("../../../../houseui/uimages/default/skin/color_default.png") repeat-x  0px -6px;
	overflow: hidden;
	display: inline;
	float: right;
	margin: 15px 0 0 0 !important;
}

.house_fangchanbaike_list {
	width: 249px;
	line-height: 26px;
	overflow: hidden;
	margin: 5px 0 0 10px !important;
}

.house_fangchanbaike_list li {
	padding-left: 2px !important;
	white-space: nowrap;
	word-break: keep-all;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 240px;
}

.house_fangchanbaike_tiwen {
    height: 37px !important;
    width: 216px !important;
	background: url("../../../../houseui/uimages/default/skin/color_default.png") repeat-x 0px -272px;
    margin: 4px 0 0 10px !important;
    overflow: hidden;
    cursor: pointer;
}













